<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基本语法</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <!--<h1 v-if="type==='A'">A</h1>
    <h1 v-else-if="type==='B'">B</h1>
    <h1 v-else-if="type==='C'">C</h1>
    <h1 v-else>D</h1>-->
    <li v-for="(item, index) in items">
      {{item.message}}--{{index}}
    </li>
  </div>
  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        items: [
          {message: "快斗学Java"},
          {message: "快斗学AI"},
          {message: "快斗说前端"}
        ]
      }
    })
  </script>
</body>
</html>
